<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<link href="/css/layout.css" rel="stylesheet">
</head>
<body>
	<h2>SpringBoot API 로그인</h2>
	</br>
	<a class="kakao" role="button"><img src="imges/kakao_login_medium_narrow.png" alt="카카오" title="로그인" width="200px"></a>
	

</body>
</html>